@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
@import "tailwindcss";

body {
    font-family: 'Raleway', Helvetica, Arial, Roboto, sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));




